.home{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.home_hero_element{
    width: 100%;
    height: 100vh;

    @include media('<phone') {
        height: 100vh;
    }
}

.home_tau_logo{
    position: absolute;
    top: 50rem;
    left: 8.3rem;
    width: 109.1rem;
    height: 47.9rem;

    @include media('<phone') {
        top: 45rem;
        left: 2.8rem;
        width: 33.5rem;
        height: 16.8rem;
    }
}

.home_hero_title {
    position: absolute;
    top: 56.1rem;
    right: 8.1rem;
    width: 51.6rem;
    text-align: right;

    @include media('<phone') {
        font-size: 3rem;
        top: 20rem;
        left: 2.8rem;
        width: 30rem;
        text-align: left;
    }
}

.home_scroll{
    position: absolute;
    top: 90.3rem;
    right: 8.1rem;
    width: 12.9rem;

    @include media('<phone') {
        display: none;
    }
}

.home_statments{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    place-items: center;
    padding: 0 8.3rem;

    @include media('<phone') {
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        place-items: center;
        padding: 5rem 2.6rem 10rem 2.6rem;
    }
}

.home_true_love_element{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    place-items: center;

    @include media('<phone') {
        display: none;
    }
}

.home_true_love_logo{
    top: -5rem;
    grid-row: 1/2;
    position: absolute;
    width: 150rem;
    height: 100%;

    @include media('<phone') {
        display: none;
    }
}

.home_true_love_logo_alt_text{
    @extend %paragraph-16;
    grid-row: 2/3;

    @include media('<phone') {
        display: none;
    }

}

.home_statement_title{
    width: 88.9rem;
    display: flex;
    flex-direction: column;
    align-items: end;

    @include media('<phone') {
        width: 30rem;
    }
}

.home_statement_title_main{
    @extend %title-120;
    line-height: 1;
    // span{
        // border: 1px solid black;
    // }
    // span span{
        // border: 1px solid rgb(208, 0, 0);
    // }

    margin: -2rem  0;
    &:nth-child(3){
        transform: translateY(-3rem);

        span span {
            @extend %title-120;

            height: 13rem;
        }
    }

    @include media('<phone') {
        line-height: 1.1;

        &:nth-child(3){
            transform: translateY(-0.4rem);

            span span {
                height: 5rem;
            }
        }
    }
}

.home_statement_title_main_migra {
    font-family: $font-migra;
    font-style: italic;
    // line-height: 1.2;
}

.home_statement_title_sub{
    margin-top: 2.3rem;
    width: 71.3rem;
    text-align: right;

    @include media('<phone') {
        align-self: start;
        margin-top: 1rem;
        width: 100%;
    }
}

