extends base.pug

block variables
  -var template = 'about'

block content
    .about#top(data-scroll-section data-background="#F3EFE4" data-color="#000000")
        .about_hero#about_top
            .about_hero_wrapper
                h1.about_hero_main_title(data-animation="title") CREATIVE AGENCY BASED IN NEW YORK CITY
                img.about_hero_image(src="../assets/img/interior1.png")
                .about_hero_details
                    p.about_hero_details_text TAU is a branding & performance marketing agency which provides a wide variety of advertising work while keeping an eye on brand building - ranging from research/planning and conceptual development to design. 
                    p.about_hero_details_text Our team is built of visual storytellers & strategically data-driven minds, working with existing brands & launching new ideas to the world.
                    p.about_hero_details_text We are founded in the belief that brands with a desire to have a clear and compelling voice in their industries are the brands that make themselves heard. Getting to the core of your vision, goals, and assessing the market - we create a strategy to amplify your brand’s voice and position you not only for the present, but with the future in mind
                h1.about_hero_last_title(data-animation="title") WE DESIGN BRANDS & TELL STORIES. 
        .about_brand_wrapper
                    .about_brand_values_details
                        h1.about_brand_statement_title(data-animation="title") We look
                        h1.about_brand_statement_title_migra(data-animation="title") beyond the surface
                        h1.about_brand_statement_title(data-animation="title") for what matters
                        p.about_brand_statement_para At Tau, we focus on getting to the core of your aspirations and goals. We develop a concise strategy to amplify your brand’s digital identity for the present & future.
        .home_video_section
                .home_video_section_details 
                    h1.home_video_section_details_title(data-animation="title")
                        | WE PRODUCE 
                        br
                        | VIDEO CONTENT TO 
                        br
                        | SHOWCASE YOUR BRAND.       
                    h1.home_video_section_details_title_mobile(data-animation="title") 
                        | WE PRODUCE 
                        br
                        | VIDEO CONTENT TO 
                        br
                        | SHOWCASE YOUR BRAND.    
                    p.home_video_section_details_para
                        | We work with our video production partners over at 
                        span.home_video_section_details_bold MeltyCone 
                        | in developing content that represents your brands voice. MeltyCone has experience working with companies like 
                        span.home_video_section_details_para_migra Kiehls, The Body Shop, People Magazine, & more
                    p.home_video_section_details_para_mobile
                        | We work with our video production partners over at 
                        span.home_video_section_details_bold MeltyCone 
                        | in developing content that represents your brands voice. MeltyCone has experience working with companies like 
                        span.home_video_section_details_para_migra Kiehls, The Body Shop, People Magazine, & more
                    
                .home_video_section_element
                    video.home_video_section_element_back(src="../assets/img/meltycone.mp4" type="video/mp4" autoplay muted loop)
                .home_video_section_footer
                    h1.home_video_section_footer_title(data-animation="title") meltycone.com
                    .home_video_section_footer_link_list
                        a.home_video_section_footer_links(href="https://www.instagram.com/meltycone/" target="_blank") IG
                        a.home_video_section_footer_links(href="https://www.linkedin.com/company/melty-cone-video/" target="_blank") IN
                        a.home_video_section_footer_links_img_link(href="https://www.meltycone.com/" target="_blank") 
                            img.home_video_section_footer_links_img(alt="arrow link to meltycone" src="../assets/img/arrow.png")
        .about_contact_form(data-scroll)
            .about_contact_wrapper
                .about_contact_form_details
                        h1.about_contact_form_details_title(data-animation="title") Contact us.
                        img.about_contact_svg(src="../assets/img/Vector.svg")
                        h3.about_contact_para(data-animation="paragraph") Get in touch
                .about_contact_main_wrapper
                    .about_contact_main_details
                        .about_contact_form_details_links_wrapper
                                a.about_contact_form_details_links(href="https://www.linkedin.com/in/tau-studio-40a70421b" target="_blank") IN
                                a.about_contact_form_details_links(href="https://www.instagram.com/taunyc/" target="_blank") IG
                                a.about_contact_form_details_links(href="https://www.behance.net/tau-studio" target="_blank") BE                    
                        p.about_contact_main_detail_para We craft brands that are authentic, <br>differentiated, and poised for global growth.
                    .about_contact_form_wrapper
                        .about_contact_details
                            a.about_contact_details_email(href="mailto:hello@thetaustudio.com") HELLO@THETAUSTUDIO.COM <br>
                            a.about_contact_details_number(href="tel:+1(914)920-0430") + 1 (914) 920-0430
                        .about_map
                            a.about_map_link(href="http://maps.google.com/?q=214 West 29th Street New York City" target="_blank") 214 WEST 29TH STREET <br>NEW YORK CITY
                        .about_designer_details
                            h3.home_designer_title DESIGN AND DEVELOPED
                            a.home_designer_link(href="mailto:holalazarte@gmail.com") BY THE TAU STUDIO™
                .footer_marquee
                        .footer_marquee_item
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>                                
                        .footer_marquee_item
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>
                            | WE ARE TAU
                            <span class="footer_marquee_seperator"> • </span>                                
                .home_footer
                    .home_footer_timestamp
                        img.home_footer_timestamp_img(src="../assets/img/world.png", alt="world_image")
                        h1.home_footer_timestamp_city New York
                        h1.home_footer_timestamp_city_mobile NY
                        h1.home_footer_timestamp_time [12:00]
                    .home_footer_top
                        .home_contact_form_details_links_wrapper
                                a.about_contact_form_details_links_mobile(href="https://www.linkedin.com/in/tau-studio-40a70421b" target="_blank") IN
                                a.about_contact_form_details_links_mobile(href="https://www.instagram.com/taunyc/" target="_blank") IG
                                a.about_contact_form_details_links_mobile(href="https://www.behance.net/tau-studio" target="_blank") BE
                        a.home_footer_top_link Back To Top
                        a.home_footer_top_link_mobile
                            img.home_footer_top_link_mobile_img(src='../assets/img/top.svg')


        
