extends base.pug

block variables
  -var template = 'about'

block content
    .about_hero
        .about_hero_wrapper
            h1.about_hero_main_title CREATIVE AGENCY BASED IN NEW YORK CITY
            img.about_hero_image(src="../assets/img/interior1.png")
            .about_hero_details
                p.about_hero_details_text TAU is a branding & performance marketing agency which provides a wide variety of advertising work while keeping an eye on brand building - ranging from research/planning and conceptual development to design. 
                p.about_hero_details_text Our team is built of visual storytellers & strategically data-driven minds, working with existing brands & launching new ideas to the world.
                p.about_hero_details_text We are founded in the belief that brands with a desire to have a clear and compelling voice in their industries are the brands that make themselves heard. Getting to the core of your vision, goals, and assessing the market - we create a strategy to amplify your brand’s voice and position you not only for the present, but with the future in mind
            h1.about_hero_last_title WE DESIGN BRANDS & TELL STORIES 
    .about_brand_wrapper
                .about_brand_values_details
                    h1.about_brand_statement_title We look
                    h1.about_brand_statement_title_migra beyond the surface
                    h1.about_brand_statement_title for what matters
                    p.about_brand_statement_para We design, create engaging and memorable digital experiences. We help our customers hhh  minimal solutions that improve the daily lives of humans by being ever more unique, creative and sustainable.
    .home_video_section
            .home_video_section_details 
                h1.home_video_section_details_title 
                    | WE PRODUCE 
                    br
                    | VIDEO CONTENT TO 
                    br
                    | SHOWCASE YOUR BRAND.       
                h1.home_video_section_details_title_mobile 
                    | WE PRODUCE 
                    br
                    | VIDEO CONTENT TO 
                    br
                    | SHOWCASE YOUR BRAND.    
                p.home_video_section_details_para
                    | We work with our video production partners over at 
                    span.home_video_section_details_bold MeltyCone 
                    | in developing content that represents your brands voice. MeltyCone has experience working with companies like 
                    span.home_video_section_details_para_migra Kiehls, The Body Shop, People Magazine, & more
                p.home_video_section_details_para_mobile
                    | We work with our video production partners over at 
                    span.home_video_section_details_bold MeltyCone 
                    | in developing content that represents your brands voice. MeltyCone has experience working with companies like 
                    span.home_video_section_details_para_migra Kiehls, The Body Shop, People Magazine, & more
                
            .home_video_section_element
                img.home_video_section_element_back(src="../assets/img/image22.png")
                img.home_video_section_element_logos(src="../assets/img/logos.png")
            .home_video_section_footer
                h1.home_video_section_footer_title meltycone.com
                .home_video_section_footer_link_list
                    a.home_video_section_footer_links(href="") IG
                    a.home_video_section_footer_links(href="") IN
                    a.home_video_section_footer_links_img_link(href="") 
                        img.home_video_section_footer_links_img(alt="arrow link to meltycone" src="../assets/img/arrow.png")
    .home_contact_form
        .home_contact_wrapper
            .home_contact_form_details
                .home_contact_form_details_wrapper
                    .home_contact_form_details_title_wrapper
                        h1.home_contact_form_details_title LET'S CHAT!
                        h1.home_contact_form_details_title_mobile CONTACT
                        h4.home_contact_form_details_sub KEEP IN TOUCH
                    .home_contact_form_details_links_wrapper
                        a.home_contact_form_details_links(href="") IN
                        a.home_contact_form_details_links(href="") IG
                        a.home_contact_form_details_links(href="") BE
                p.home_contact_form_details_para We craft brands that are authentic, differentiated, and poised for global growth.
            .home_contact_form_wrapper
                form.contact_form(action= "", method= "post")
                    .contact_form_field_row
                        input.contact_form_field(type="text", name="name" value="[Your name]" autocomplete="off")
                        //- span.contact_form_name [Your name]
                    .contact_form_field_row
                        input.contact_form_field(type="email", name="email", value="[Your email]" autocomplete="off")
                        //- span.contact_form_name [Your email]
                    input.contact_form_submit_button(type="image", src="../assets/img/arrow.png", alt="submit_button", name="submit")
        .home_footer
            .home_footer_timestamp
                img.home_footer_timestamp_img(src="../assets/img/world.png", alt="world_image")
                h1.home_footer_timestamp_city New York
                h1.home_footer_timestamp_time [12:00]
            .home_footer_top
                a.home_footer_top_link Back To Top            
        
