extends base.pug

block variables
  -var template = 'baucees'

block content
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/baucees/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/baucees/2.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/baucees/3.jpg")                                        

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title BAUCEES
        p.work_card_paragraph Baucees is a lifestyle brand inspired by streetwear, early 2000s pop culture, food, & the influence of the melting pot of immigrant cultures founder Rasheed Jordon experienced growing up in Toronto & New York City. Offering products from coffee, home-goods, clothing, & more. Baucees is about creating an intersection between street culture and the items that are apart of our every day lives. Merging his passions for sneaker culture, art/music, & hospitality created the brand after his family’s nickname for him.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Naming, Brand Positioning, Identity, Language,  Art Direction & Advertising
