extends base.pug

block variables
  -var template = 'brio'

block content
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/2.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/3.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/4.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/5.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/6.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/7.jpg")                                                                                                   

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title(style="font-size: 4.4rem") BRIO LUEUR
        p.work_card_paragraph Brio Lueur is a brand in the heart of New York that provides a set of products for women meant to embrace your inner light & uniqueness to the world. Brio Lueur offers an array of products, ranging from travel essentials to athleisure wear. It has been a privilege for our studio to work on this project with Rasheed Jordon, founder of Brio Lueur. We have helped design and develop a brand identity package including the logo design, icon, font system, color palette, illustration library and more. These elements work together to help build a recognizable brand for Brio’s community.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Visual Identity and Branding Design, Logo Design, Illustration, Environmental Graphic Design, Motion Graphics and Animation 
         