extends base.pug

block variables
  -var template = 'brio'

block content
    .loading
        svg.loading_svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 980.14")
            path(fill="#F3EFE4" d="M642.38,0l145.7,72.85L649,370.86,966.89,298,1000,457,682.12,529.8,940.4,735.1,841.06,860.93,582.78,655.63V980.14H417.22V655.63L158.94,860.93,59.6,735.1,317.88,529.8,0,457,33.11,298,351,370.86l-139.07-298L357.62,0,496.69,298Z")
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/2.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/3.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/4.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/5.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/6.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/brio/7.jpg")                                                                                                   

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title(style="font-size: 4.4rem") BRIO LUEUR
        p.work_card_paragraph Brio Lueur is a brand in the heart of New York that provides a set of products for women meant to embrace your inner light & uniqueness to the world. Brio Lueur offers an array of products, ranging from travel essentials to athleisure wear. It has been a privilege for our studio to work on this project with Rasheed Jordon, founder of Brio Lueur. We have helped design and develop a brand identity package including the logo design, icon, font system, color palette, illustration library and more. These elements work together to help build a recognizable brand for Brio’s community.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Visual Identity and Branding Design, Logo Design, Illustration, Environmental Graphic Design, Motion Graphics and Animation 
         