extends base.pug

block variables
  -var template = 'cruelove'

block content
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/cruelove/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/cruelove/2.jpg")
                .work_double_box
                    img.work_double_img(src="../assets/img/cruelove/3.jpg")
                    img.work_double_img(src="../assets/img/cruelove/4.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/cruelove/5.png")
                .work_double_box
                    img.work_double_img(src="../assets/img/cruelove/6.png")
                    img.work_double_img(src="../assets/img/cruelove/7.png")
                .work_double_box
                    img.work_double_img(src="../assets/img/cruelove/8.png")
                    img.work_double_img(src="../assets/img/cruelove/9.png" style="width: 102%")
                .work_double_box
                    img.work_double_img(src="../assets/img/cruelove/10.png")
                    img.work_double_img(src="../assets/img/cruelove/11.png")

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title CRUE LOVE
        p.work_card_paragraph Crue Love is an wine brand created with the intention to reach a milennial audeince, We created the concept of Crue Love with the overarching theme being about spending time with the people you love.  Our challenge was to build an experience for the consumer that goes against the grain for how wine is approached. We created a canned bottle that fits within the casual drinking experience to drive home the idea that wine is meant to be enjoyed with your favorite people.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Naming, Brand Positioning, Identity, Language,  Art Direction & Advertising  
                
                
                
                
                
                
                //- img.work_display_image(src="../assets/img/", alt="cruelove showcase")