extends base.pug

block variables
  -var template = 'home'

block content
    .home#top(data-background="#F3EFE4" data-color="#000000" data-scroll-section)
        .home_wrapper
            .home_hero_element#home_top
                .home_tau_logo
                p.home_hero_title(data-animation="title") 
                    | BRANDING & GROWTH <br>MARKETING AGENCY
                p.home_scroll(data-animation="paragraphs") ↓ Scroll
                .slider_wrapper
                    input.slider_color(type="range", name="blobColor" min="0.1" max="1" value="0.1" step="0.01")
                    input.slider_process(type="range", name="blobProcess" min=".6" max="2" value=".6" step=".05")
            .home_statments
                .home_true_love_element
                    .home_true_love_logo
                    p.home_true_love_logo_alt_text
                .home_statement_title
                    h1.home_statement_title_main(data-animation="title") We connect
                    h1.home_statement_title_main_migra(data-animation="title") brands & consumers
                    h1.home_statement_title_main(data-animation="title") through design.
                    p.home_statement_title_sub(data-animation="paragraphs") Our team is built of visual storytellers & strategically<br> data-driven minds, working with existing companies <br>& launching new concepts to the world.
            .home_portfolio
                .home_work_titles(data-scroll data-scroll-sticky data-scroll-target='.home_portfolio')
                    .home_work_wrapper
                        h1.home_work_title(data-animation="paragraphs") Work
                        h4.home_work_number(data-animation="paragraphs") //06
                        .home_project_title_wrapper
                            h1.home_project_title(data-work-title="cruelove") Crue Love
                            h1.home_project_title(data-work-title="baucees") Baucees
                            h1.home_project_title(data-work-title="latereservation") Late Reservation
                            h1.home_project_title(data-work-title="briolueur") Brio Lueur
                            h1.home_project_title(data-work-title="pzac") PZ A + C
                            h1.home_project_title(data-work-title="ivyhills") Ivy Hills
                .home_portfolio_wrapper
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/cruelove.html" data-work-title="cruelove")
                            img.home_portfolio_img(alt="CRUE LOVE WORK" src="../assets/img/1.jpg")
                        //- .home_portfolio_button CRUE LOVE
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/baucees.html" data-work-title="baucees")
                            img.home_portfolio_img(alt="BAUCEES WORK" src="../assets/img/2.jpg")
                        //- .home_portfolio_button BAUCEES
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/late-reservation.html" data-work-title="latereservation")
                            img.home_portfolio_img(alt="LATE RESERVATION WORK" src="../assets/img/3.jpg")
                        //- .home_portfolio_button LATE RESERVATION
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/brio.html" data-work-title="briolueur")
                            img.home_portfolio_img(alt="BRIO LUEUR WORK" src="../assets/img/4.jpg")
                        //- .home_portfolio_button BRIO LUEUR 
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/pzac.html" data-work-title="pzac")
                            img.home_portfolio_img(alt="PZ A + C WORK" src="../assets/img/5.jpg")
                        //- .home_portfolio_button PZ A + C
                    .home_portfolio_work
                        a.home_portfolio_work_link(href="/ivyhills.html" data-work-title="ivyhills")
                            img.home_portfolio_img(alt="IVY HILLS WORK" src="../assets/img/6.jpg")
                        //- .home_portfolio_button IVY HILLS
            .home_brand_values
                .home_brand_wrapper
                    .home_brand_values_details(data-scroll-speed="2" data-scroll)
                        h1.home_brand_statement_title(data-animation="title") We look
                        h1.home_brand_statement_title_migra(data-animation="title") beyond the surface
                        h1.home_brand_statement_title(data-animation="title") for what matters
                        p.home_brand_statement_para(data-animation="paragraphs") At Tau, we focus on getting to the core of your<br> aspirations and goals. We develop a concise<br> strategy to amplify your brand’s digital identity<br> for the present & future.
                        p.home_brand_statement_para_mobile(data-animation="paragraphs") We design, create engaging and memorable digital experiences. We help our customers hhh  minimal solutions that improve the daily lives of humans by being ever more unique, creative and sustainable.
            .home_brand_value_title_wrapper(data-scroll)
                h1.home_brand_value_title(data-scroll data-animation="title")
                            | WE DESIGN BRANDS
                            br
                            | & TELL STORIES
            .home_services
                .home_services_titles(data-scroll data-scroll-sticky data-scroll-target='.home_services')
                    h2.home_services_title Services
                    svg.home_services_astrick(viewBox="0 0 81 84" xmlns="http://www.w3.org/2000/svg")
                        path(stroke="none" fill="#000000" d="M31.8 83.48V57.08L8.76 70.28L0.12 55.16L22.92 41.96L0.12 28.76L8.76 13.64L31.8 26.84V0.439997H49.32V26.84L72.12 13.64L80.76 28.76L57.96 41.96L80.76 55.16L72.12 70.28L49.32 57.08V83.48H31.8Z")
                .home_services_table 
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title STRATEGY
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //01
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text STRATEGY
                                    h4.home_services_list_column_two_text BRAND POSITIONING
                                    h4.home_services_list_column_two_text TONE OF VOICE
                                    h4.home_services_list_column_two_text AUDITS
                                    h4.home_services_list_column_two_text_mobile STRATEGY
                                    h4.home_services_list_column_two_text_mobile BRAND POSITIONING
                                    h4.home_services_list_column_two_text_mobile TONE OF VOICE
                                    h4.home_services_list_column_two_text_mobile AUDITS
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We ASSESS YOUR BRAND & PROVIDE A Suite of services from primary research to messaging strategy to communications Planning.
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title BRANDING
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //02
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text NAMING
                                    h4.home_services_list_column_two_text BRAND IDENTITY
                                    h4.home_services_list_column_two_text BRAND BOOKS
                                    h4.home_services_list_column_two_text BRAND APPLICATION
                                    h4.home_services_list_column_two_text_mobile NAMING
                                    h4.home_services_list_column_two_text_mobile BRAND IDENTITY
                                    h4.home_services_list_column_two_text_mobile BRAND BOOKS
                                    h4.home_services_list_column_two_text_mobile BRAND APPLICATION
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We deliver a comprehensive, unique, and authentic brand Personality that reaches the target audience while responding to industry challenges.
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title DESIGN
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //03
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text CREATIVE DIRECTION & IDEAS
                                    h4.home_services_list_column_two_text BRAND WEB DEVELOPMENT & UX/UI DESIGN
                                    h4.home_services_list_column_two_text PACKAGING
                                    h4.home_services_list_column_two_text COLLATERAL DESIGN
                                    h4.home_services_list_column_two_text_mobile CREATIVE DIRECTION
                                    h4.home_services_list_column_two_text_mobile UX/UI DESIGN & WEB DEV
                                    h4.home_services_list_column_two_text_mobile PACKAGING
                                    h4.home_services_list_column_two_text_mobile COLLATERAL DESIGN
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We create cohesive design systems that revolve around consumer experience. We develop visual identities for brands that go well beyond how they look or speak.
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title ADVERTISING
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //04
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text CREATIVE DIRECTION
                                    h4.home_services_list_column_two_text VIDEO PRODUCTION
                                    h4.home_services_list_column_two_text PHOTOGRAPHY
                                    h4.home_services_list_column_two_text CASTING
                                    h4.home_services_list_column_two_text_mobile CREATIVE DIRECTION
                                    h4.home_services_list_column_two_text_mobile VIDEO PRODUCTION
                                    h4.home_services_list_column_two_text_mobile PHOTOGRAPHY
                                    h4.home_services_list_column_two_text_mobile CASTING
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We DEVELOP CONTENT THROUGH MULTIPLE VISUAL MEDIUMS That connect to consumer. We create concepts & Direct the visual work from start to finish.
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title MARKETING
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //05
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text SOCIAL MEDIA STRATEGY / CUSTOMER ACQUISITION STRATEGY
                                    h4.home_services_list_column_two_text CAMPAIGN MANAGEMENT / AUDIENCE TARGETING AND SEGMENTATION
                                    h4.home_services_list_column_two_text SEO / SEM, AFFILIATE AND DISPLAY
                                    h4.home_services_list_column_two_text ORGANIC AND PAID MARKETING
                                    h4.home_services_list_column_two_text_mobile SOCIAL MEDIA MGMT.
                                    h4.home_services_list_column_two_text_mobile CAMPAIGN MGMT. 
                                    h4.home_services_list_column_two_text_mobile SEO / SEM
                                    h4.home_services_list_column_two_text_mobile AUDIENCE TARGETING
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We Craft A Strategy designed For Your Brand’s Target audience TO OPTIMIZE CONVERSIONS. WE IDENTIFY YOUR CUSTOMER & CONVERT THEM INTO CONSUMERS OF YOUR BRAND.
                    .home_services_row
                        .home_services_list
                            .home_services_list_column_one
                                h4.home_services_list_column_one_title CAMPAIGNS
                                .home_services_list_column_one_wrapper 
                                    h4.home_services_list_column_one_text A
                                    h4.home_services_list_column_one_text B
                                    h4.home_services_list_column_one_text C
                                    h4.home_services_list_column_one_text D
                            .home_services_list_column_two
                                h4.home_services_list_column_two_title //06
                                .home_services_list_column_two_wrapper 
                                    h4.home_services_list_column_two_text CONTENT & CAMPAIGN STRATEGY
                                    h4.home_services_list_column_two_text CONTENT & CAMPAIGN DEVELOPMENT
                                    h4.home_services_list_column_two_text PRODUCTION MANAGEMENT
                                    h4.home_services_list_column_two_text POST PRODUCTION OVERSIGHT
                                    h4.home_services_list_column_two_text_mobile CONTENT STRATEGY
                                    h4.home_services_list_column_two_text_mobile CAMPAIGN STRATEGY
                                    h4.home_services_list_column_two_text_mobile PRODUCTION MGMT.
                                    h4.home_services_list_column_two_text_mobile POST PROD. OVERSIGHT                                    
                        .home_services_details
                            p.home_services_details_text(data-animation="paragraphs") We Build Out Comprehensive campaigns designed for long - term BranD Growth. We  ManAGE DIGITAL ASSETS post CREATION & Produce future CONTENT TO MAINTAIN BRAND INTEGRITY.
            .home_video_section
                .home_video_section_details 
                    h1.home_video_section_details_title(data-animation="title")
                        | WE PRODUCE 
                        br
                        | VIDEO CONTENT TO 
                        br
                        | SHOWCASE YOUR BRAND.       
                    h1.home_video_section_details_title_mobile_home(data-animation="title")
                        | Video production
                        br
                        | marketing in NYC
                    p.home_video_section_details_para
                        | We work with our video production partners over at 
                        span.home_video_section_details_bold MeltyCone 
                        | in developing content that represents your brands voice. MeltyCone has experience working with companies like 
                        span.home_video_section_details_para_migra Kiehls, The Body Shop, People Magazine, & more
                    p.home_video_section_details_para_mobile At Tau, we focus on getting to the core of your aspirations and goals. We develop a concise strategy to amplify your brand’s digital identity for the present & future.
                .home_video_section_element
                    video.home_video_section_element_back(src="../assets/img/meltycone.mp4" type="video/mp4" autoplay muted loop)
                .home_video_section_footer
                    h1.home_video_section_footer_title(data-animation="title") meltycone.com
                    .home_video_section_footer_link_list
                        a.home_video_section_footer_links(href="https://www.instagram.com/meltycone/" target="_blank") IG
                        a.home_video_section_footer_links(href="https://www.linkedin.com/company/melty-cone-video/" target="_blank") IN
                        a.home_video_section_footer_links_img_link(href="https://www.meltycone.com/" target="_blank") 
                            img.home_video_section_footer_links_img(alt="arrow link to meltycone" src="../assets/img/arrow.png")

            .home_contact_form(data-scroll)
                .home_contact_wrapper
                    .home_contact_form_details
                            .home_contact_form_details_title_wrapper
                                h1.home_contact_form_details_title(data-animation="title") Contact Us 
                                h1.home_contact_form_details_title_mobile(data-animation="title") Contact
                                h4.home_contact_form_details_sub KEEP IN TOUCH
                    .home_contact_form_wrapper
                        .home_contact_form_details_wrapper
                            .home_contact_form_details_links_wrapper
                                a.home_contact_form_details_links(href="https://www.linkedin.com/in/tau-studio-40a70421b" target="_blank") IN
                                a.home_contact_form_details_links(href="https://www.instagram.com/taunyc/" target="_blank") IG
                                a.home_contact_form_details_links(href="https://www.behance.net/tau-studio" target="_blank") BE
                            p.home_contact_form_details_para(data-animation="service-para") We craft brands that are authentic,<br> differentiated, and poised for global growth.
                        form.contact_form(action= "", method= "post")
                            .contact_form_field_row
                                input.contact_form_field#textfield(type="text", name="name" value="" autocomplete="off")
                                span.contact_form_name.contact_form_name_text(data-animation="paragraphs") [Your name]
                            .contact_form_field_row
                                input.contact_form_field#emailfield(type="email", name="email", value="" autocomplete="off")
                                span.contact_form_name.contact_form_name_email(data-animation="paragraphs") [Your email]
                            input.contact_form_submit_button(type="image", src="../assets/img/arrow.png", alt="submit_button", name="submit")
                .home_footer
                    .home_footer_timestamp
                        img.home_footer_timestamp_img(src="../assets/img/world.png", alt="world_image")
                        h1.home_footer_timestamp_city(data-animation="title") New York
                        h1.home_footer_timestamp_time(data-animation="title") [12:00]
                    .home_footer_top
                        a.home_footer_top_link(data-animation="title") Back To Top

                    


        