extends base.pug

block variables
  -var template = 'ivyhills'

block content
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/2.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/3.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/4.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/5.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/6.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/ivyhills/7.jpg")                                                                                                   

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title IVY HILLS
        p.work_card_paragraph Ivy Hills is a cannabis lifestyle brand with products such as THC infused coffee & tea. We were tasked with developing an identity for the company that could change the narrative behind cannabis. They wanted their products to be viewed as a delicacy. We crafted a vision for Ivy Hills that positioned the brand as a luxury line with a timeless aesthetic.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Naming, Brand Positioning, Identity, Language, Art Direction & Advertising 
         