extends base.pug

block variables
  -var template = 'pzac'

block content
    .work_display(data-scroll-section)
        .work_display_wrapper
            .work_close
                .work_close_line_one
                .work_close_line_two
            .work_display_container
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/1.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/2.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/3.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/4.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/5.jpg")
                .work_single_box
                    img.work_single_img(src="../assets/img/pzac/6.jpg")                    

    .work_card
        .work_card_button
            .work_card_button_line_one
            .work_card_button_line_two
        h1.work_card_title PZ A+C
        p.work_card_paragraph PZ A+C is the first social equity company with a state-of-art, proprietary platform for cannabis delivery. The company's e-commerce technology integrates with retailers for a seamless and consumer-friendly experience for cannabis delivery in Boston and surrounding Massachusetts areas. We were tasked with revamping their brand identity & web design to reach a wider consumer base.
        h4.work_card_service SERVICES
        p.work_card_services_paragraph Naming, Brand Positioning, Identity, Language,  Art Direction & Advertising
