extends base.pug

block variables
  -var template = 'services'

block content
    .services_wrapper(data-scroll-section)
        .services_table 
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") STRATEGY
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //01
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") STRATEGY
                            h4.services_list_column_two_text(data-animation="service-para") BRAND POSITIONING
                            h4.services_list_column_two_text(data-animation="service-para") TONE OF VOICE
                            h4.services_list_column_two_text(data-animation="service-para") AUDITS
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") BRANDING
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //02
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") NAMING
                            h4.services_list_column_two_text(data-animation="service-para") BRAND IDENTITY
                            h4.services_list_column_two_text(data-animation="service-para") BRAND BOOKS
                            h4.services_list_column_two_text(data-animation="service-para") BRAND APPLICATIONS
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") DESIGN
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //03
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") CREATIVE DIRECTION
                            h4.services_list_column_two_text(data-animation="service-para") UX/UI DESIGN & WEB DEV
                            h4.services_list_column_two_text(data-animation="service-para") PACKAGING
                            h4.services_list_column_two_text(data-animation="service-para") COLLATERAL DESIGN
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") ADVERTISING
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //04
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") CREATIVE DIRECTION
                            h4.services_list_column_two_text(data-animation="service-para") VIDEO PRODUCTION
                            h4.services_list_column_two_text(data-animation="service-para") PHOTOGRAPHY
                            h4.services_list_column_two_text(data-animation="service-para") CASTING
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") MARKETING
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //05
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") SOCIAL MEDIA MGMT.
                            h4.services_list_column_two_text(data-animation="service-para") CAMPAIGN MGMT. 
                            h4.services_list_column_two_text(data-animation="service-para") SEO / SEM
                            h4.services_list_column_two_text(data-animation="service-para") AUDIENCE TARGETING
            .services_row
                .services_list
                    .services_list_column_one
                        h4.services_list_column_one_title(data-animation="title") CAMPAIGNS
                        .services_list_column_one_wrapper 
                            h4.services_list_column_one_text(data-animation="service-para") A
                            h4.services_list_column_one_text(data-animation="service-para") B
                            h4.services_list_column_one_text(data-animation="service-para") C
                            h4.services_list_column_one_text(data-animation="service-para") D
                    .services_list_column_two
                        h4.services_list_column_two_title(data-animation="title") //06
                        .services_list_column_two_wrapper 
                            h4.services_list_column_two_text(data-animation="service-para") CONTENT STRATEGY
                            h4.services_list_column_two_text(data-animation="service-para") CAMPAIGN STRATEGY
                            h4.services_list_column_two_text(data-animation="service-para") PRODUCTION MGMT.
                            h4.services_list_column_two_text(data-animation="service-para") POST PROD. OVERSIGHT
            .services_title_wrapper
                h1.services_title(data-animation="title") Services
                p.service_text(data-animation="service-para") We work with you to develop your brand throughout any stage of the process.