extends base.pug

block variables
  -var template = 'work'

block content
    .work_links
        .work_links_wrapper
            .work_links_list_wrapper
                a.work_links_list(href="/cruelove") CRUE LOVE
                span.work_links_list_slash //
                a.work_links_list(href="/baucee") BAUCEE's 
            .work_links_list_wrapper
                a.work_links_list(href="/latereservation") LATE RESERVATION
                span.work_links_list_slash //
                a.work_links_list(href="/ivyhills") IVY HILLS
            .work_links_list_wrapper
                a.work_links_list(href="/baucee") BRIO LUEUR
                span.work_links_list_slash //
                a.work_links_list(href="/pzac") PZ A + C
        .work_details
            p.work_details_text
                | We listen & tell stories.
                br
                | We think & design brands.
                br
                | We create what’s next for tomorrow.
    