extends base.pug

block variables
  -var template = 'work'

block content
    .work_links(data-scroll-section data-background="#EBAD3C" data-color="#000000")
        .work_links_wrapper
            .work_links_list_wrapper
                a.work_links_list(href="/cruelove" data-animation="title") CRUE LOVE
                span.work_links_list_slash(data-animation="title") //
                a.work_links_list(href="./baucees" data-animation="title") BAUCEE's 
            .work_links_list_wrapper
                a.work_links_list(href="/late-reservation" data-animation="title") LATE RESERVATION
                span.work_links_list_slash(data-animation="title") //
                a.work_links_list(href="/ivyhills" data-animation="title") IVY HILLS
            .work_links_list_wrapper
                a.work_links_list(href="./brio" data-animation="title") BRIO LUEUR
                span.work_links_list_slash(data-animation="title") //
                a.work_links_list(href="./pzac" data-animation="title") PZ A + C
        .work_details
            p.work_details_text(data-animation="paragraphs")
                | We listen & tell stories.
                br(data-animation="paragraphs")
                | We think & design brands.
                br(data-animation="paragraphs")
                | We create what’s next for tomorrow.